<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">test</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
                 [ngClass]="{ show: isExpanded }">
                <ul *ngIf='!isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/authentication/login']" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/authentication/register']" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">Register</a>
                    </li>
                </ul>
                <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <button class="btn primary btn-link" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

